resnet-34_kinetics.onnx filter=lfs diff=lfs merge=lfs -text
use_reader.txt filter=lfs diff=lfs merge=lfs -text
videos filter=lfs diff=lfs merge=lfs -text
action_recognition_kinetics.txt filter=lfs diff=lfs merge=lfs -text
activity_recognition_demo.py filter=lfs diff=lfs merge=lfs -text
model.py filter=lfs diff=lfs merge=lfs -text
